.side-drawer {
  padding-top: 10vh;
  height: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  box-shadow: 1px #f3f1f1;
  transform: translateY(100%);
  transition: transform 2s ease-out;
}
.side-drawer.open {
  transform: translateY(0);
}
