@import '../mixins.module.scss';

.welcomeSection {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  h3 {
    margin: 0px 0px 3rem 0.4rem;
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-sm), 5vw, var(--fz-md));
    font-weight: 400;
  }
  h1 {
    margin: 0px 0px 1rem;
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
    margin: 0px;
    font-size: clamp(4rem, 8vw, 8rem);
    font-family: var(--font-sans);
  }
  h2 {
    margin: 0px;
    font-size: clamp(4rem, 8vw, 8rem);
    // margin: 0px 0px 1rem;
    font-weight: 600;
    margin-top: 10px;
    color: var(--slate);
    line-height: 0.9;
  }
  p {
    margin: 2rem 0rem 0rem;
    max-width: 54rem;
    -webkit-font-smoothing: antialiased;
    color: var(--slate);
    font-family: var(--font-sans);
    font-size: var(--fz-xl);
    line-height: 1.3;
    a {
      display: inline-block;
      text-decoration: none;
      text-decoration-skip-ink: auto;
      position: relative;
      transition: var(--transition);
      color: var(--green);
      font-family: var(--font-sans);
      font-size: var(--fz-xl);
      line-height: 1.3;
      cursor: pointer;
    }
    a::after {
      content: '';
      display: block;
      width: 0px;
      height: 1px;
      position: relative;
      bottom: 0.37em;
      background-color: var(--green);
      transition: var(--transition);
      opacity: 0.5;
    }
    a:hover::after {
      width: 100%;
    }
  }
  .viewMyProjects {
    @include largeButton;
    margin-top: 5rem;
    width: max-content;
  }
}
