html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


.overlay {
  opacity: 0;
  color: white;
}
.overlay:hover {
  background: url("./Utils/images/overlay-bg.png") repeat;
  widows: 100%;
  height: 100%;
  opacity: 0.95;
}

.media-slider {
  display: none;
  z-index: 10;
  bottom: 10%;
  right: 10%;
  position: fixed;
}

.media-nav {
  display: flex;
}

.contact-input::placeholder {
  color: black
}

.header-background {
  background-size: 700vw;
  height: 100vh;
  background-image: linear-gradient(
    135deg,
    #845ec2,
    #d65db1,
    #ff6f91,
    #ff9671,
    #ffc75f,
    #f9f871
  );
  background-position: left;
  animation: bg 7s infinite alternate;
}   

@keyframes bg {
  from {
     background-position: left;
  }
  to{
    background-position: right;
  }
}

.img-container {
  box-shadow: 5px rgba(0, 0, 0, 0.1);
}

.details-button {
  height: 30px;
  overflow-y: hidden;
  transition: height 1s;
}

.details-button:hover {
  height: fit-content;
}

/* media queries */
@media screen and (max-width: 767px) {
  .media-slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .media-nav {
    display: none;
  }
}